<div class="container" *ngIf ="post">
    <br>
    <br>
    <h1>View Blog</h1>
    <br><br>
    <form #form="ngForm">
        <div class="mb-3">
          <label class="form-label">Id</label>
          <input type="text" class="form-control" name ="id" [(ngModel)]="post.id" readonly>
        </div>
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" class="form-control" name ="title" [(ngModel)]="post.title">
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea name="content" class="form-control" cols="92" rows="2" [(ngModel)]="post.context"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Featured Image URL</label>
            <input name="featuredImageUrl" cols="92" class="form-control" rows="2" [(ngModel)]="post.featuredImageUrl" >
        </div>
        <div class="mb-3">
            <label class="form-label">Author</label>
            <input name="auther" cols="92" rows="2" class="form-control" [(ngModel)]="post.author">
        </div>
      </form>
</div>